@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: red;
}

/* Style for code blocks */
pre {
  background-color: #282c34; /* Darker background color */
  color: #fff; 
  padding: 1rem;
  overflow-x: auto;
  border-radius: 0.25rem; /* Add rounded corners */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

/* Style for inline code */
code {
  background-color: #282c34; /* Same background color as code blocks */
  color: #abb2bf; /* Same text color as code blocks */
  padding: 0.2rem 0.4rem;
  border-radius: 0.25rem;
}
